/* ОСНОВНЫЕ */

:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --white-opacity: rgba(255, 255, 255, 0.9);
    --grey-neutral: #EEEEEE;
    --grey-light: #F2F2F2;
    --grey-dark: #EBEBEB;
    --blue-dark: #5496BD;
    --blue-neutral: #669EC0;
    --blue-light: #81B3D2;
    --brown-dark: #503E33;
    --brown-neutral: #604E43;
    --brown-light: #766357;
    --brown-black: #333333;
    --grey-text: #666666;
}

html {
    height: 100%;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0 40px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-repeat: no-repeat;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    box-sizing: border-box;
}

header {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    height: 100%;
}

main {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    height: 100%;
}

footer {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--basic-black);
    opacity: 1;
}


.visually-hidden {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
}

button {
    text-transform: uppercase;
    border: none;
    color: var(--basic-white);
}

input {
    border: none;
}




/* HEADER */

.logo {
    width: 138px;
    height: 70px;
    position: absolute;
    margin-left: 531px;
}


.site-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: bold;
    min-height: 56px;
    line-height: 26px;
    text-align: center;
}

.site-navigation li {
    flex-grow: 1;
}

.site-navigation li:nth-child(3) {
    margin-left: 200px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: var(--blue-light);
    opacity: 1;
}

.site-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

/*
.site-navigation {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    min-height: 56px;
    background-color: azure;
}

/*.site-navigation li:first-child {
    justify-self: left;
}

.site-navigation li:nth-child(2) {
    justify-self: left;
}

.site-navigation li:nth-child(3) {
    justify-self: right;
}

.site-navigation li:last-child {
    justify-self: right;
}
 */

/* HEADER */



/*FOOTER*/

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /*background-color: cadetblue;*/
    font-size: 21px;
}

.social {
    width: 145px;
    justify-self: center;
    text-align: center;
}

.social ul {
    width: 141px;
}

.social-button {
    width: 46px;
    height: 48px;
    background-color: var(--blue-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button:hover,
.social-button:focus {
    background-color: var(--blue-neutral);
}

.contacts img {
    padding-top: 28px;
    padding-left: 168px;
}

.contacts p {
    padding-top: 8px;
    padding-left: 125px;
}

.restore p {
    padding-top: 38px;
    padding-left: 45px;
}

/*FOOTER*/




/* INDEX */

.welcome {
    min-height: 509px;
    background-image: url("img/backgroundgroup.jpg");
    background-repeat: no-repeat;
}

.welcome img {
    position: absolute;
    padding-top: 77px;
    padding-left: 371px;
}

.top-of-reasons {
    min-height: 216px;
    text-align: center;
    background-color: white;
}

.top-of-reasons h3 {
    font-size: 21px;
    padding-top: 43px;
}

.top-of-reasons p {
    padding-top: 43px;
    font-weight: normal;
    color: var(--brown-black);
}

.reasons h3 {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}

.reasons p {
    font-weight: normal;
    line-height: 21px;
    text-align: center;
}

.reasons li {}

.first-reason {
    background-color: var(--blue-light);
    min-height: 256px;
    color: var(--basic-white);
    background-image: url("img/firstreason.jpg");
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 37px;
    padding-right: 800px;
}

.first-reason  h3 {
    padding-top: 47px;
}

.first-reason p {
    padding-top: 25px;
}

.second-reason {
    background-color: var(--blue-light);
    color: var(--basic-white);
    min-height: 256px;
    background-image: url("img/secondreason.jpg");
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 37px;
    padding-left: 800px;
}

.second-reason h3 {
    padding-top: 50px;
}

.second-reason p {
    padding-top: 24px;
}

.reasons-columns {
    display: flex;
    column-gap: 20px;
    min-height: 256px;
    justify-content: space-around;
}

.reasons-columns li {
    align-self: stretch;

}

.reasons-columns h3 {
    padding-top: 122px;
}

.reasons-columns p {
    padding-top: 25px;
}

.columns-background {
    background-color: var(--grey-neutral);
    min-height: 256px;
}

.home {
    background-image: url("img/homeicon.svg");
    background-repeat: no-repeat;
    background-position: 100px 22px;
}

.home h3 {
    padding-left: 10px;
}

.home p {
    padding-left: 10px;
}

.food {
    background-image: url("img/foodicon.svg");
    background-repeat: no-repeat;
    background-position: 113px 23px;
}

.food h3 {
    padding-left: 5px;
}

.food p {
    padding-left: 10px;
}

.gift {
    background-image: url("img/gifticon.svg");
    background-repeat: no-repeat;
    background-position: 100px 17px;
}

.gift h3 {
    padding-right: 5px;
}

.gift p {
}

.columns-background {
    background-color: var(--grey-dark);
}

.columns-background h3 {
    padding-top: 47px;
}

.columns-background p {
    padding-top: 24px;
}

.columns-background li:first-child {
    padding-left: 24px;
}

.columns-background li:nth-child(2) {
    padding-left: 23px;
}

.columns-background li:last-child {
    padding-right: 5px;
}

.question {
    line-height: 24px;
    min-height: 146px;
    text-align: center;
    padding-top: 58px;
}

.question h2 {
    font-size: 30px;
}

.question p {
    font-weight: normal;
    padding-top: 30px;
}

.booking {
}

button.button-box {
    width: 568px;
    height: 86px;
    background-color: var(--brown-light);
    font-size: 21px;
    margin-left: 315px;
}

button.button-box:hover,
button.button-box:focus {
    background-color: var(--brown-neutral);
    opacity: 1;
}

button.button-box:active {
    background-color: var(--brown-dark);
    opacity: 0.3;
}

.form {
    width: 458px;
    min-height: 285px;
    margin-left: 315px;
    margin-bottom: 78px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 55px;
    position: relative;
    /*background-color: cadetblue;*/
}

.booking input {
    height: 26px;
    background-color: var(--grey-light);
    font-style: inherit;
    padding-top: 6px;
    padding-bottom: 6px;
}

.booking input:hover {
    background-color: var(--grey-dark);
}

.booking input:focus {
    background-color: var(--basic-white);
}

.arrive input {
    width: 333px;
    padding-left: 13px;
    margin-left: 20px;
}

.arrive button {
    position: absolute;
    top: 62px;
    right: 64px;
}

.departure input {
    width: 334px;
    padding-left: 12px;
    margin-left: 16px;
}

.departure button {
    position: absolute;
    top: 129px;
    right: 64px;
}

.adult input {
    width: 36px;
    padding-left: 39px;
    padding-right: 39px;
    margin-left: 37px;
}

.adult .plus {
    position: absolute;
    top: 202px;
    left: 256px;
}

.adult .minus {
    position: absolute;
    top: 198px;
    left: 180px;
}

.children input {
    width: 38px;
    padding-left: 38px;
    padding-right: 38px;
    margin-left: 22px;
}

p.children {
    margin-left: 54px;
}

.children .minus {
    position: absolute;
    top: 200px;
    left: 413px;
}

.children .plus {
    position: absolute;
    top: 202px;
    left: 489px;
}

.search-button {
    width: 458px;
    height: 58px;
    background-color: var(--blue-light);
    font-size: 21px;
    font-weight: inherit;
    line-height: inherit;
}

.search-button:hover,
.search-button:focus {
    background-color: var(--blue-neutral);
    opacity: 1;
}

.search-button:active {
    background-color: var(--blue-dark);
    opacity: 0.3;
}

/*
background-image: url("img/map.png");
background-position: bottom;
background-repeat: no-repeat;
 */

/* INDEX */


/* CATALOG */

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1200px;
    min-height: 217px;
    background-image: url("img/background-catalog.jpg");
    background-repeat: no-repeat;
    color: var(--basic-white);
    line-height: 21px;
}

fieldset {
    border: none;
}

.filter legend {
    font-size: 16px;
}

.filter label {
    font-weight: normal;
}

.price label {
    font-weight: bold;
}

.price {
    padding-left: 200px;
}

/*.price button {
    width: 97px;
    height: 17px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 36px;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
}*/

.found {
    min-height: 86px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.founded h3 {
    font-size: 21px;
    padding-left: 73px;
}

.founded h4 {
    padding-left: 47px;
    padding-bottom: 7px;
}

.sorting {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    padding-left: 39px;
}
.sorting li {
    opacity: 0.3;
    border-bottom: 1px dotted var(--blue-light);
}

.sorting .active {
    color: var(--blue-light);
    border-bottom: none;
}

.sorting:nth-child(2) {
    padding-left: 32px;
}

.sorting:last-child {
    padding-left: 34px;
}


.hotels {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.hotels li {
    display: flex;
    flex-wrap: wrap;
    min-height: 150px;
    border-bottom: 1px solid var(--grey-light);
}


.hotel-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    padding-left: 30px;
}

.hotel-info h3 {
    text-align: start;
    padding-left: 0;
}

.hotel-info p {
    font-weight: normal;
    padding-top: 5px;
}

.hotel-info div {
    padding-top: 12px;
}

.star {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 523px;
}

.star p {
    padding-top: 30px;

}

.star span {
    width: 95px;
    background-color: var(--grey-light);
    color: var(--grey-text);
    font-weight: normal;
    line-height: 21px;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 38px;
}

.img {
    padding-top: 32px;
    padding-left: 73px;
}

.button-info {
    background-color: var(--blue-light);
    width: 110px;
    height: 27px;
}

.button-info:focus,
.button-info:hover {
    background-color: var(--blue-neutral);
}

.button-info:active {
    background-color: var(--blue-dark);
}

.button-book {
    background-color: var(--brown-light);
    width: 142px;
    height: 27px;
}

.button-book:focus,
.button-book:hover {
    background-color: var(--brown-neutral);
}

.button-book:active {
    background-color: var(--brown-dark);
}
